.NavbarItems {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  width: 95%;
  margin-left: 1%;
  height: 80px;
  border-radius: 13px;
  font-family: sans-serif;
  position: fixed;
  top: 20px;
  z-index: 100;
}
.navbar-logo {
  font-size: 2rem;
  cursor: pointer;
}
.w {
  color: red;
  font-size: 50px;
}
.a {
  color: blue;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 20px;
  list-style: none;
  align-items: center;
}
.menu-icon {
  display: none;
  margin-right: 13px;
  font-size: 20px;
}
.nav-links {
  text-decoration: none;
  color: #fff;
}
.nav-links:hover {
  color: blue;
  border-bottom: 1px solid red;
}

@media screen and (max-width: 800px) {
  .NavbarItems {
    z-index: 9999;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
    height: auto;
    opacity: 1;
    padding: 100px 0 50px 0;
    margin: 0;
    border-radius: 30px;
    left: -105%;
  }
  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.1s ease-in-out;
  }
  .menu-icon {
    display: block;
  }
  .nav-links {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 2rem 0;
    color: #fff;
  }
  .nav-links:hover {
    color: blue;
    border-bottom: none;
  }
}
